p {
	font-family: "Times New Roman", Times, serif;
	line-height: 27px;
}

p.BodyText{
	font-size: 18px;
}

h1 {
	font-family: "Perpetua", Times, serif;
	color:#5787C6;
}

img {
border-width: 0px;
}

.imagelink {
    background-color: #fff;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding: 0px 0px 0px 0px;
	text-align:right;
	float:left;
}

#footer {
  position: absolute;
  left: 50%;
  margin-left: -141px;
}

#footerAbsolute {
  position: absolute;
  top: 750px;
  left: 50%;
  margin-left: -141px;
}