.Spacing {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	line-height: 27px;
}

div.container {
    margin:0;
    padding:0;
}
 
div.container a, div.container a:link, div.nav a:visited {
    display:block;
}
 
div.container img {
    width:100%;
    height:100%;
    border:0;
}
 
div.container a:hover img {
    visibility:hidden;
}


#aboutH {
    background-image:url("/images/about-h-ro.gif");
}