---
layout: default
title: Sterling Equity
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td height="32">
			<div align="center">
				<img class="imagelink" src="images/about-h-ro.gif" width="123" height="47" style="border-width: 0px;"/>
				{% include menuitem_investment.html %}
				{% include menuitem_management.html %}
				{% include menuitem_performance.html %}
				{% include menuitem_contact.html %}
			</div>
		</td>
	</tr>
	<tr> 
		<td height="32"><div align="center"></div>
			<div align="center">
				<img src="images/spacer.gif" width="9" height="9">
			</div>
		</td>
	</tr>
	<tr> 
		<td height="25%" valign="top">
			<div align="left"> 
				<p class="BodyText">
					Founded in 2006, Sterling Equity takes long-term investment positions in attractively
					priced, high-quality ASX listed companies.
				</p>
				<p class="BodyText">
				    Sterling Equity has substantially outperformed the broader Australian share market.
					<br>
					<br>
					Key features include:
				</p>
				<ul class="BodyText">
					<li>a disciplined, value-oriented approach to investment selection</li>
					<li>an exceptional investment track record</li>
					<li>100% owned by management, who are strongly aligned through co-investment</li>
				</ul>
				<br/>
				<br/>
				<br/>
				<!--<p class="NoteText">
					<sup>
						<font size="2">1</font>
					</sup>
					Sterling Equity&#8217;s return is reported after fees and costs, but is before taxes. The Australian share market, 
					as measured by the S&amp;P ASX 300 Accumulation Index, is reported before fees and taxes. 
					Past performance is not a reliable indicator of future performance.
				</p>-->
			</div>
		</td>
	</tr>
</table>
{% include footerAbsolute.html %}