---
layout: default
title: Sterling Equity
---

<tr> 
	<td height="32">
		<div align="center">
			{% include menuitem_about.html %}
			{% include menuitem_investment.html %}
			{% include menuitem_management.html %}
			{% include menuitem_performance.html %}
			<img class="imagelink" src="images/contact-h-ro.gif" width="144" height="47" style="border-width: 0px;"/>
		</div>
	</td>
</tr>
<tr> 
	<td height="32"><div align="center"></div>
		<div align="center">
			<img src="images/spacer.gif" width="9" height="9">
		</div>
	</td>
</tr>
<tr> 
	<td height="25%" valign="top">
		<div align="center"> 
			<p align="left" class="Spacing">
				<font size="4" face="Times New Roman, Times, serif">
					<u>Message for Prospective Investors</u>
				</font>
			</p>
			<p align="left" class="Spacing">
				<font size="4" face="Times New Roman, Times, serif">
					When evaluating investment managers, we believe that three qualities are essential:
				</font>
			</p>
			<p align="left" class="Spacing">
				<font size="4" face="Times New Roman, Times, serif">
					1. a logical investment process that is capable of delivering sustainable returns;<br/>
					2. a robust track record of investment performance; and<br/>
					3. strong alignment of interests between the manager and investors through co-ownership of investments.
				</font>
			</p>
			<p align="left" class="Spacing">
				<font size="4" face="Times New Roman, Times, serif">
					Sterling Equity works to develop these qualities.
				</font>
			</p>
			<p align="left" class="Spacing">
				<font size="4" face="Times New Roman, Times, serif">
					Please contact us for further information.
				</font>
			</p>
			<p align="center">
				<span class="Spacing">
					<font size="4" face="Times New Roman, Times, serif"> 
						Sterling Equity Pty Ltd<br>
						Level Five 82 Collins Street<br>
						Melbourne Victoria 3000<br>
						T +613 9663 9255<br>
						{% include mailtolink.html %}<br>
						AFS Licence Number 308 070
					</font>
				</span>
				<br>
			</p>
			<p>
				<br>
				<font size="4" face="Times New Roman, Times, serif">
					click <a href="SterlingEquity.pdf">here</a>
					to access a printable *.pdf version of the site
				</font>
			</p>
		</div>
	</td>
</tr>