---
layout: default
title: Sterling Equity
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td height="32">
			<div align="center">
				{% include menuitem_about.html %}
				{% include menuitem_investment.html %}
				{% include menuitem_management.html %}
				{% include menuitem_performance.html %}
				<img class="imagelink" src="images/contact-h-ro.gif" width="144" height="47" style="border-width: 0px;"/>
			</div>
		</td>
	</tr>
	{% include spacer.html %}
	<tr> 
		<td height="25%" valign="top">
			<p class="BodyText">
				<b><u>Message for Prospective Investors</u></b>
			</p>
			<p class="BodyText">
				When evaluating investment managers, we believe that three qualities are essential:
			</p>
			<ol class="BodyText">
				<li>a logical investment process that is capable of delivering sustainable returns;</li>
				<li>a robust track record of investment performance; and</li>
				<li>strong alignment of interests between the manager and investors through co-ownership of investments.</li>
			</ol>			
			<p class="BodyText">
				Sterling Equity works to develop these qualities.
			</p>
			<p class="BodyText">
				Please contact us for further information.
			</p>
			<div align="center"> 
				<p align="center" class="BodyText">
					Sterling Equity<br>
					Level Nine 100 Collins Street<br>
					Melbourne Victoria 3000<br>
					T +613 9663 9255<br>
					{% include mailtolink.html %}<br>
					AFS Licence Number 308 070
				</p>
				<p class="BodyText">
					Click <a href="SterlingEquity.pdf">here</a> to access a printable *.pdf version of the site
				</p>
			</div>
		</td>
	</tr>
</table>
{% include footerAbsolute.html %}