---
layout: homepage
title: Sterling Equity
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td>
			<div align="center">
				<img src="/images/logo-index.gif"><br>
				<img src="/images/mainpic.jpg">
			</div>
		</td>
	</tr>
	{% include spacer.html %}
	<tr>
		<td height="32">
			<div align="center">
				{% include menuitem_about.html %}
				{% include menuitem_investment.html %}
				{% include menuitem_management.html %}
				{% include menuitem_performance.html %}
				{% include menuitem_contact.html %}
			</div>
		</td>
	</tr>
</table>
{% include footerAbsolute.html %}