---
layout: default
title: Sterling Equity
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td height="32">
			<div align="center">
				{% include menuitem_about.html %}
				<img class="imagelink" src="images/investment-h-ro.gif" width="324" height="47" style="border-width: 0px;"/>
				{% include menuitem_management.html %}
				{% include menuitem_performance.html %}
				{% include menuitem_contact.html %}
			</div>
		</td>
	</tr>
	{% include spacer.html %}
	<tr> 
		<td height="36" valign="top"><div align="center"> </div>
			<div align="center">
				{% include submenuitem_investment.html %}
				{% include submenuitem_investment2.html %}
				<img class="imagelink" src="images/investment3-btn-ro.gif" width="277" height="36" style="border-width: 0px;"/>
			</div>
		</td>
	</tr>
	{% include spacer.html %}
	<tr>
		<td>
			<div align="left">
				<p class="BodyText">
					Sterling Equity maintains the perspective of a long term business owner and 
					considers its portfolio as a collection of companies, rather than a collection of stocks.
				</p>
				<p class="BodyText">
					The portfolio is managed with a view to maximising both the quality 
					and magnitude of sustainable underlying business earnings. We focus 
					on the portfolio&#8217;s underlying return on invested capital, profit 
					margin, gearing and earnings yield &#8211; these qualities are key drivers of shareholder value.
				</p>
				<br>
			</div>
		</td>
	</tr>
</table>
{% include footer.html %}