---
layout: default
title: Sterling Equity
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
<tr> 
	<td height="32">
		<div align="center">
			{% include menuitem_about.html %}
			<img class="imagelink" src="images/investment-h-ro.gif" width="324" height="47" style="border-width: 0px;"/>
			{% include menuitem_management.html %}
			{% include menuitem_performance.html %}
			{% include menuitem_contact.html %}
		</div>
	</td>
</tr>
{% include spacer.html %}
<tr> 
	<td height="36" valign="top"><div align="center"> </div>
		<div align="center">
			<img class="imagelink" src="images/investment1-btn-ro.gif" width="366" height="36" style="border-width: 0px;"/>
			{% include submenuitem_investment2.html %}
			{% include submenuitem_investment3.html %}
		</div>
	</td>
</tr>
{% include spacer.html %}
<tr>
	<td valign="top">
		<div align="left">
			<p class="BodyText">
				Sterling Equity seeks long-term positions in high quality companies that it can buy at attractive prices.
			</p>
			<p class="BodyText">
				When making an investment, we aim to:
			</p>
			<ol class="BodyText">
				<li>preserve the value of capital</li>
				<li>maximise the quality and magnitude of our portfolio&#8217;s underlying business earnings</li>
			</ol>
		</div>
	</td>
</tr>
</table>
{% include footerAbsolute.html %}