---
layout: default
title: Sterling Equity
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td height="32">
			<div align="center">
				{% include menuitem_about.html %}
				<img class="imagelink" src="images/investment-h-ro.gif" width="324" height="47"/>
				{% include menuitem_management.html %}
				{% include menuitem_performance.html %}
				{% include menuitem_contact.html %}
			</div>
		</td>
	</tr>
	{% include spacer.html %}
	<tr> 
		<td height="36" valign="top">
			<div align="center"></div>
			<div align="center">
				{% include submenuitem_investment.html %}
				<img class="imagelink" src="images/investment2-btn-ro.gif" width="251" height="36"/>
				{% include submenuitem_investment3.html %}
			</div>
		</td>
	</tr>
	{% include spacer.html %}
	<tr> 
		<td valign="top">
			<div align="left"> 
				<p class="BodyText">
					Sterling Equity prefers to invest in companies with the following characteristics:
				</p>
				<p class="BodyText">
					<ol class="BodyText">
						<li>Businesses that <strong>we can understand and monitor</strong> without being overly reliant on management.</li>
						<li>A <strong>competitive position</strong> that is likely to sustain strong returns on invested capital. We analyse:</li>
						<ul class="BodyText">
							<li>
								why a company&#8217;s customers do business with it and why they are prepared to pay its prices
							</li>
							<li>
								the likely direction of sales volume and prices, the level of industry competition and the availability of substitute products
							</li>
							<li>
								the relationships a company has with its suppliers, its cost structure and the barriers a competitor would face if it tried to enter the market
							</li>
						</ul>
						<li>
							A <strong>strong management team and board</strong> with a track record of paying dividends and/or successfully deploying capital. Management must be trustworthy, competent and motivated to create shareholder wealth.
						</li>
						<li>
							<strong>Relatively predictable earnings and an ability to at least maintain profits in most economic environments.</strong> We prefer businesses with little exposure to commodity prices, economic cycles and exchange rates.
						</li>
						<li>
							<strong>Conservatively geared.</strong>
						</li>
					</ol>
				</p>
			</div>
		</td>
	</tr>
</table>
{% include footerAbsolute.html %}