---
layout: default
title: Sterling Equity
---

<tr> 
	<td height="32">
		<div align="center">
			{% include menuitem_about.html %}
			{% include menuitem_investment.html %}
			<img class="imagelink" src="images/management-h-ro.gif" width="200" height="47" style="border-width: 0px;"/>
			{% include menuitem_performance.html %}
			{% include menuitem_contact.html %}
		</div>
	</td>
</tr>
<tr> 
	<td height="32"><div align="center"></div>
		<div align="center">
			<img src="images/spacer.gif" width="9" height="9">
		</div>
	</td>
</tr>
<tr>
	<td>
		<div align="left">
			<p class="BodyText">
				Sterling Equity is 100% owned by management and operates a single investment strategy 
				for all clients, including staff, who are strongly aligned through co-investment.
			</p>
			<p class="BodyText">
				Nicolas West (Director) founded Sterling Equity in 2006. He holds Bachelor of Science and 
				Masters of Commerce (Finance) (Honours) degrees from The University of Melbourne and is a 
				CFA charterholder. He has over 12 years of professional experience with listed equity investments 
				and previously worked at Lion Capital as a portfolio manager.
			</p>
			<p class="BodyText">
				Sterling Equity employs research analysts, review committees and works with an external custodian.
			</p>
		</div>
	</td>
</tr>