---
layout: default
title: Sterling Equity 
---

<table width="1000" border="0" cellpadding="0" cellspacing="0">
<tr> 
	<td height="32">
		<div align="center">
			{% include menuitem_about.html %}
			{% include menuitem_investment.html %}
			{% include menuitem_management.html %}
			<img class="imagelink" src="/images/performance-h-ro.gif" width="198" height="47" style="border-width: 0px;"/>
			{% include menuitem_contact.html %}
		</div>
	</td>
</tr>
{% include spacer.html %}
<tr>
	<td>
		<div align="left"> 
			<p class="BodyText">
				Sterling Equity&#8217;s returns since inception are presented in the table below.
			</p>
			<br/>
			<p class="BodyText">
				<img src="/images/PerformanceTable.gif"/>
			</p>
			<br/>
			<br/>
			<p class="BodyText">
				The graph below presents Sterling Equity performance, net of fees and expenses, assuming an initial investment of $1,000,000.
			</p>
			<br/>
			<p class="BodyText">
				<img src="/images/graph.gif" width="975" height="470">
			</p>
			<p align="left">&nbsp;</p>
			<p align="left" class="NoteText">
				<sup>
					<font size="2">1</font>
				</sup>
				Sterling Equity&#8217;s return is reported on an after fees basis, 
				but is before taxes. The Australian share market, as measured by 
				the S&amp;P ASX 300 Accumulation Index, is reported before fees and 
				taxes. Past performance is not a reliable indicator of future performance.
			</p>
		</div>
	</td>
</tr>
</table>
{% include footer.html %}
