---
layout: default
title: Sterling Equity
---

<tr> 
	<td height="32">
		<div align="center">
			{% include menuitem_about.html %}
			{% include menuitem_investment.html %}
			{% include menuitem_management.html %}
			<img class="imagelink" src="/images/performance-h-ro.gif" width="198" height="47" style="border-width: 0px;"/>
			{% include menuitem_contact.html %}
		</div>
	</td>
</tr>
<tr> 
	<td height="32">
		<div align="center">
		</div>
		<div align="center">
			<img src="/images/spacer.gif" width="9" height="9">
		</div>
	</td>
</tr>
<tr>
	<td height="39" valign="top">
		<div align="left"> 
			<p>
				<font size="4" face="Times New Roman, Times, serif">
					Sterling Equity&#8217;s returns since inception are 
					presented in the table below.
				</font>
			</p>
			<br/>
			<p class="Spacing">
				<img src="/images/PerformanceTable.gif"/>
			</p>
			<div align="center"></div>
			<p>&nbsp;</p>
			<div align="center"></div>
			<p class="Spacing">
				<br/>
				<font size="4" face="Times New Roman, Times, serif">
					The graph below presents Sterling Equity performance, net of fees 
					and expenses, assuming an initial investment of $1,000,000.
				</font>
			</p>
			<br/>
			<p class="Spacing">
				<img src="/images/graph.jpg" width="975" height="470">
			</p>
			<p align="left">&nbsp;</p>
			<p align="left">
				<sup>
					<font size="2">2</font>
				</sup>
				<font size="3" face="Times New Roman, Times, serif">
					Sterling Equity&#8217;s return is reported on an after fees basis, 
					but is before taxes. The Australian share market, as measured by 
					the S&amp;P ASX 300 Accumulation Index, is reported before fees and 
					taxes. Past performance is not a reliable indicator of future performance.
				</font>
			</p>
		</div>
	</td>
</tr>