<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title> {{ page.title }} </title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.github_v2.js"></script>
	<link rel="SHORTCUT ICON" href="/icons/sterlingequity.ico" type="image/x-icon" />
	<link rel="ICON" href="/icons/sterlingequity.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/css/spacing.css" type="text/css" />
	<link rel="stylesheet" href="/css/iefixes.css" type="text/css" />
	<meta name="PUBLISHER" content="www.sterlingequity.com.au"/>
	<meta name="LANGUAGE" content="English"/>
	<meta name="COPYRIGHT" content="Sterling Equity"/>
	<script language="JavaScript" type="text/JavaScript">
		<!--
		function MM_preloadImages() { //v3.0
		  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
			var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
			if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
		}
		//-->
	</script>
</head>
<body onLoad="MM_preloadImages('/images/about-h-ro.gif','/images/investment-h-ro.gif','/images/management-h-ro.gif','/images/performance-h-ro.gif','/images/contact-h-ro.gif','/images/about-h.gif','/images/investment-h.gif','/images/management-h.gif','/images/performance-h.gif','/images/contact-h.gif')">
	<div align="center">
		{{ content }}
	</div>
</body>
</html>